.btn{
  min-width: 10rem;
  padding: 1rem 2rem;
  box-shadow: 0;
  border-radius: 0;
}
.btn-primary{
  background-color: $dark;
  border-color: $dark;
}
.btn-primary:hover{
  background-color: $blue-700;
  border-color: $blue-700;
}
.btn-secondary{
  color: $dark;
  background-color: $light;
}
.btn-secondary:hover{
  color: $dark;
  background-color: $blue-300;
}
.btn-outline-secondary {
  color: $secondary;
  border-color: $dark;
}
.btn-outline-secondary:hover {
  color: $dark;
  background-color: $gray-100;
  border-color: $blue-700;
}