html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
}

body {
  padding-top: 72px;
}

.divider-light, .divider-dark, .divider-light-gray{
  margin-top: 0rem;
  margin-bottom: 1.75rem;
  width: 5rem;
}
.divider-light{
  border-top: 1px solid $blueLight;
}
.divider-dark{
  border-top: 1px solid $blue-500;
}
.divider-light-gray{
  border-top: 1px solid $grayLight;
}
.social-links{
  margin-top: 1.5rem;
}