html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body{
  padding-top:72px;
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .ampersand{
    margin-left: 0px;
   }
  .navbar{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .navbar-brand{
    margin-left: .5rem;
  }
  .bg-portfolio-screens-enrollment{
    background: url("https://shcaudill.mo.cloudinary.net/images/bg-portfolio-card-plexus-enrollment.png") left bottom/40% no-repeat, #c3f2c2;
  }
  .bg-portfolio-screens-enrollment-social{
    background: url("https://shcaudill.mo.cloudinary.net/images/bg-portfolio-plexus-enrollment-social-hero.jpg") center/cover no-repeat;
  }
  .bg-portfolio-screens-enrollment-shop{
    background: url("https://shcaudill.mo.cloudinary.net/images/bg-portfolio-plexus-enrollment-shop-hero.jpg") center/cover no-repeat;
  }
  .bg-portfolio-screens-enrollment-upgrade{
    background: url("https://shcaudill.mo.cloudinary.net/images/bg-portfolio-plexus-enrollment-upgrade-hero.jpg") center/cover no-repeat;
  }
  .bg-portfolio-screens-shop{
    background: url("https://shcaudill.mo.cloudinary.net/images/bg-portfolio-card-plexus-shop.png") left bottom/30% no-repeat, #c2eaf2;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .navbar-brand{
    margin-left: .5rem;
  }
  .bg-portfolio, .bg-portfolio-enrollment{
    min-height: 500px;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
.ampersand{
    margin-left: -48px;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {

}