html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body{
  padding-top:72px;
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .ampersand{
    margin-left: 0px;
   }
  .bg-portfolio-enrollment{
    background: url("/images/portfolio-card-plexus-enrollment-bg.png") right bottom/30% no-repeat, #c3f2c2;
  }
  .bg-portfolio-shop{
    background: url("/images/portfolio-card-plexus-shop-bg.png") right bottom/25% no-repeat, #c2eaf2;
  }
  .bg-portfolio-screens-enrollment-social{
    background: url("/images/portfolio-plexus-enrollment-social-hero-bg.jpg") center/cover no-repeat;
  }
  .bg-portfolio-screens-enrollment-shop{
    background: url("/images/portfolio-plexus-enrollment-shop-hero-bg.jpg") center/cover no-repeat;
  }
  .bg-portfolio-screens-enrollment-upgrade{
    background: url("/images/portfolio-plexus-enrollment-upgrade-hero-bg.jpg") center/cover no-repeat;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .navbar {
    padding: $spacer $spacer*2;
  }
  .nav-link {
    margin-left: 2rem;
    margin-bottom: 0;
  } 

}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .ampersand{
      margin-left: -48px;
    }
  .intro, .intro {
    font-size: 2rem; 
  } 
  .bg-hero-about, .bg-hero-enrollment, .bg-hero-experience, .bg-portfolio-container{
    min-height: 500px;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {

}