.bg-headshot{
  background: #fff url("../images/sean-caudill-headshot.jpg") center/contain no-repeat;
  min-height: 300px;
}
.bg-topo {
  background: #fff url("../images/bg-topo.svg") left top/500px repeat;
}