// -- HEROS -- //
.bg-hero-experience{
  background: url("https://shcaudill.mo.cloudinary.net/images/experience-hero-bg.jpg") center/cover no-repeat;
  min-height: 400px;
}
.bg-hero-about{
  background: url("https://shcaudill.mo.cloudinary.net/images/about-hero-bg.jpg") right/cover no-repeat;
  min-height: 400px;
}
.bg-hero-enrollment{
  background: url("https://shcaudill.mo.cloudinary.net/images/portfolio-plexus-enrollment-hero-bg.jpg") center/cover no-repeat;
  min-height: 400px;
}
.bg-portfolio-enrollment, .bg-portfolio-enrollment-outcomes{
  background: #d3f2d3;
}
.bg-portfolio-screens-enrollment-social{
  background: #ffffff
}
.bg-portfolio-design-system, .bg-portfolio-shop, .bg-portfolio, .bg-portfolio-container{
  background: $blueLight;
}
.bg-portfolio-nationwide, .bg-portfolio-nationwide-container{
  background: #e6e4f2;
}

// -- MISC -- //
.bg-gradient-light{
  background: $blueLight;
}
.logo-blue{
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.logo-ds{
  min-height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}


