.modal-header{
  padding: 1rem 2rem !important;
}
.modal-body{
  padding: 2rem !important;
}
.modal-footer{
	padding: 2rem 0rem 0rem 0rem !important;
	justify-content: space-between !important;
}
.modal-footer > * {
	margin: 0 !important;
}