.fixed-top{
  position: fixed !important;
}
.navbar {
  padding: 1rem 24px 1rem 2rem;
}
.navbar-light .navbar-brand{
  color: $secondary;
  font-weight: 400;
  font-style: oblique;
}
.navbar-brand{
  font-weight: 700 !important;
  font-size: 28px;
  line-height: 28px;
  padding-top:0;
  padding-bottom: 0;
}
.nav-link {
  display: block;
  color: $primary !important;
  padding: 1rem 0;
  margin-bottom: 2rem;
  font-weight:400;
}
.navbar-toggler{
  padding: .25rem .5rem;
}
.dropdown-menu{
  padding: 0;
  box-shadow: 0 0.15rem 1rem rgba(0, 0, 0, .1); 
  border: 0;
}
.dropdown-item{
  text-decoration: none;
  margin-bottom:0;
  padding: 16px 24px 16px 24px;
  color: $primary !important;
}
.dropdown-item>li{
  margin-bottom: 0;
}
.dropdown-item a{
  text-decoration: none;
  color: $primary !important;
}
.dropdown-item:hover{
  background-color: $blue-200;
  color: $secondary !important;
}
.dropdown-item.active, .dropdown-item:active{
  color: $primary;
}