.navbar {
  padding: $spacer 0;
}
.nav-link {
  display: block;
  padding: 0.5rem .75rem;
  color: $secondary !important;
}
.navbar-light .navbar-brand{
  color: $secondary;
  font-weight: 400;
  font-style: oblique;
}