.navbar-brand, .font-serif {
  font-family: $font-family-serif;
}
.font-sans-serif {
  font-family: $font-family-sans-serif;
}
.ampersand{
  color: $blueLight;
  margin-left: -10px;
}
.display-1, .display-2, .display-3, .display-4, .display-5 {
  color: $gray-700;
}
h2, h4{
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-light;
}
.lead{
  margin: 1.5rem 0;
}
a.text-light:hover{
  color: $blue !important;
  fill: $blue !important;
}
.card-body>a{
  text-decoration: none;
}
