.navbar-brand{
  font-weight: 700 !important;
}
.ampersand{
  color: $blue-400;
  margin-left: -20px;
}
h2, h4{
  font-weight: $font-weight-light;
}
.intro{
  font-weight: $font-weight-light;
  font-size: calc(1.325rem + 0.9vw); 
}
.lead{
  margin: 1.5rem 0;
}
a.text-light:hover{
  color: $blue;
  fill: $blue;
}
.card-body>a{
  text-decoration: none;
}
ol, ul{
  padding-left: 1.2rem;
  margin-bottom: 2rem;
}
.emoji{
  font-size: 1.5rem;
  margin-right: 8px;
  margin-bottom: 8px;
}
.emoji-list li{
  display: flex;
}
.col-md-2>h4{
  font-weight: 400;
}
