// Spacing

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 2,
  5: $spacer * 4,
  6: $spacer * 8,
) !default;

// Color system

// gray-color-variables
$gray-000: #ffffff;
$gray-100: #F7F7FA;
$gray-200: #E4E7E7;
$gray-300: #C9CFCF;
$gray-400: #949E9E;
$gray-500: #616B6B;
$gray-600: #495050;
$gray-700: #383E3E;
$gray-800: #242828;
$gray-900: #181B1B;
$black:    #000 !default;

// gray-colors-map
$grays: (
  "000": $gray-000,
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
) !default;

// blue-color-variables
$blue: #0F768A;
$blue-100: #E8F9FC;
$blue-200: #D1F3FA;
$blue-300: #A3E8F5;
$blue-400: #88E0F2;
$blue-500: #149CB8;
$blue-600: $blue;
$blue-700: #0C5A6A;
$blue-800: #083B45;
$blue-900: #05272E;

// blues-colors-map
$blues: (
  "100": $blue-100,
  "200": $blue-200,
  "300": $blue-300,
  "400": $blue-400,
  "500": $blue-500,
  "600": $blue-600,
  "700": $blue-700,
  "800": $blue-800,
  "900": $blue-900
) !default;

// colors-map
$colors: (
  "blue":       $blue,
) !default;
// colors-map

// theme-color-variables
$primary:       $blue;
$secondary:     $gray-700;
$light:         $gray-100;
$grayLight:     $gray-400;
$gray:          $gray-700;
$grayDark:      $gray-800;
$dark:          $gray-900;
$blueLight:     $blue-300;
$blueDark:      $blue-800;
$white:         $gray-000;

// theme-colors-map
$theme-colors: (
  "primary":    $primary,
  "light":      $light,
  "grayLight":  $grayLight,
  "gray":       $gray,
  "grayDark":   $grayDark,
  "dark":       $dark,
  "blueLight":  $blueLight,
  "blueDark":   $blueDark,
  "white":      $gray-000
) !default;

// Links
$link-color:                              $blue;
$link-decoration:                         underline;
$link-shade-percentage:                   50%;
$link-hover-color:                        $blue-800;

// Typography
$body-color:                $gray-700;

$font-family-sans-serif: "Roboto Condensed", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-serif: "Merriweather", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-weight-normal:    300;
$font-weight-bold:      400;

$font-size-base:              1rem !default; // Default, but needs to be defined
$h4-font-size:   $font-size-base * 1.25;

$headings-margin-bottom:   1rem;
$headings-font-family:     $font-family-serif;
$headings-line-height:     1.5;

$display-font-weight: 500;

$paragraph-margin-bottom:   2rem;

// Borders
$border-radius:               0;

// Grid
$grid-gutter-width:           4rem;

$enable-shadows:              true;
